<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
<table class="table">
    <th class="row">
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email Name</td>
        <td>Created At</td>
        <td>Actions</td>
    </th>
    {% for user in users %}
        {% if not users %}
            <p>There are not users yet</p>
        {% endif %}
    <tr class="row">
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created_at}}</td>
        <td>
            <a href="/show/{{user.id}}">Show</a>
            <a href="/showEditUser/{{user.id}}">Edit</a>
            <a href="/delete/{{user.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
    <a href="/users/new">Create a new user</a>
    <a href="/logout">Logout</a>



</body>

</html>